html {
    scroll-behavior: smooth;
}

body {
    width: 800px;
    margin: 0 auto;
    font-family: TikTok Sans, monospace;
    background-color: #b3b3b3;
}

header, footer {
    background-color: royalblue;
    height: 50px;

    display: flex;
    align-items: center;
}

nav {
    padding: 15px;
    display: flex;
    gap: 10px;
}

header {
    border-radius: 0 0 5px 5px;
}

footer {
    justify-content: center;
    color: white;
    border-radius: 5px 5px 0 0;
}

main > section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 10px 0;

}

a {
    text-decoration: none;
}

.nav_link {
    color: white;
    text-decoration: underline;
    transition: color 0.3s;
}

.nav_link:hover {
    color: black;
}

.photo_link {
    color: black;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

h2, h3 {
    color: royalblue;
}

ol {
    padding-left: 20px;
}

table, tbody, tr, th, td {
    padding: 2px;
    border: 1px solid #d5d8dc;
    border-collapse: collapse;
}

thead {
    background-color: #dfdfdf;
    text-align: left;
}