html {
    scroll-behavior: smooth;
}

body {
    width: 800px;
    margin: 0 auto;
    font-family: TikTok Sans, monospace;
    background-color: #C1CEF5;
}

.header_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
}

.header_main_link {
    color: black;
    transition: color 0.3s;
    font-size: 20px;
}

.header_main_link:hover {
    color: white;
}

header, footer {
    background-color: royalblue;
    height: 50px;

    display: flex;
    align-items: center;
}

nav {
    padding: 15px;
    display: flex;
    gap: 10px;
}

header {
    border-radius: 0 0 5px 5px;
}

footer {
    justify-content: center;
    color: white;
    border-radius: 5px 5px 0 0;
}

main > section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 10px 0;

}

a {
    text-decoration: none;
}

.nav_link {
    color: white;
    text-decoration: underline;
    transition: color 0.3s;
}

.nav_link:hover {
    color: black;
}

.photo_link,
.contacts_link {
    color: black;
    transition: color 0.3s;
}

.photo_link:hover,
.contacts_link:hover {
    color: royalblue;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

h2, h3 {
    color: royalblue;
}

ol, ul {
    padding-left: 20px;
}

table, tbody, tr, th, td {
    padding: 5px;
    border: 1px solid #d5d8dc;
    border-collapse: collapse;
}

thead {
    background-color: #dfdfdf;
    text-align: left;
}

.gallery_title,
.planning_title,
.contacts_title {
    margin-bottom: 18px;
}

.gallery_card {
    width: 65%;
    border: 1px dashed #C1CEF5;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

img {
    border-radius: 5px;
}

form > div,
.input_options {
    margin-bottom: 10px;
}

form > div {
    width: 50%;
}

.checkbox_section,
.radio_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_button {
    padding: 10px 15px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;

    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;

}

.form_button:hover {
    background-color: black;
}

a, input, select {
    cursor: pointer;
}

.input_options_title {
    font-weight: bold;
}

.input_options_title {
    margin-bottom: 10px;
}

#textarea,
#name,
#email,
#location {
    border-radius: 5px;
    border: 1px solid gray;
}

#name,
#email,
#location {
    width: 100%;
    box-sizing: border-box; /* Важно! */
    padding: 8px 12px;
}

input, select, textarea {
    font-family: TikTok Sans, monospace;
    font-size: 14px;
    font-weight: 300;
}

input[type="checkbox"],
input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 0;
    accent-color: royalblue;
}

input[type="radio"] {
    transform: translateY(2px);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}
